SOAPWebServices/myproject/src/main/resources/schema/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://services.memorynotfound.com/"
           elementFormDefault="qualified">       <xs:complexType name="CourseRequest">
        <xs:sequence>  <xs:element name="id" type="xs:int" nillable="false"/>
        </xs:sequence>  </xs:complexType>      <xs:complexType name="CourseResponse">         <xs:sequence>  <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>             <xs:element name="description" type="xs:string"/>
            <xs:element name="created" type="xs:dateTime"/>         </xs:sequence>  </xs:complexType> </xs:schema>

